
html{
    position:absolute;
    top:20%;
    left:35%;
    background-color: #636b6f;
}

#app{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    border:5px solid grey;

}
.containerAll{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar-toggler{
    height: 5px;
    width: 10px;
}
.navbar-brand{
    font-size:30px;
    font-weight: bold;
    color:darkred;
    text-decoration: none;

}
.nav-link{
    font-size:30px;
    font-weight: bold;
    color:darkred;
    text-decoration: none;


}
.navbar-nav.ml-auto{
    list-style-type: none;
    padding:0;
}
.col-md-4 col-form-label text-md-right{
    font-size: 30px;
    color:darkred;
}
.form-check-label{
    font-size: 20px;
    color:darkred;
}
btn.btn-link{
    text-decoration: none;

}
